<!DOCTYPE html>
<html>
    <body>
        <h1 style="font-family:verdana;">So, what would you like to sell today?</h1>
        <p></p>
        <form action='/sale_entries' method='POST'>
            <input type=text placeholder='Item' name='item' value="">
            <input type=text placeholder='Description' name='description' value="">
            <input type=number placeholder='Price' name='price' value="">
            <input type=reset>
            <input type=submit>
        </form>
    </body>
</html>