<h2>Show Page for a sale!</h2>
<br>
Instrument: : <%= @sale_entry.item %><br><br>
Description : <%= @sale_entry.description %><br><br>
Price : <%= @sale_entry.price %><br><br>


<a href="/sale_entries/<%= @sale_entry.id %>/edit">Edit my post</a>


Delete Link
<a href="">



