<!DOCTYPE html>
<html>
    <body>

        <h1 style="font-family:verdana;">Sign up to start selling!</h1><br>
            
        <form action='/users' method='POST' id='nameform'>
            <input type='text' style='font-size:14pt' placeholder='Name' name='name' value=''>
            <br><br>
            <input type='text' style='font-size:14pt' placeholder='Email' name='email' value=''>
            <br><br>
            <input type='password' style='font-size:14pt' placeholder='Password' name='password' value=''>
            <br><br>
            <input type="reset" value="Reset">
            <input type="submit" value="Let's start selling!">
        </form>
        
    </body>
</html>